{:app {:project ohpauleez/example-cmma
       :version "0.1.0-SNAPSHOT"
       :description "An example of cmma's deps/classpath management"
       :url "http://example.com"
       :license {:name "Eclipse Public License"
                 :url "http://www.eclipse.org/legal/epl-v10.html"}}
 :dependencies [[org.clojure/clojure "1.6.0"]

                ;; All non-maven deps append their `on-classpaths` to your classpath
                ;;  During Jar creation, those sources/resources are added to the jar
                ;;  If that is undesirable, you should make an official release and update your deps

                ;#cmma/directory {:path "/Users/paul/scratch/cmma/cmma-clj" ;; This one doesn't make sense; You would just add/link it through source-paths
                ;                 :on-classpath ["src"]}
                #cmma/git {:repo "git@github.com:ohpauleez/themis.git" ;; anything cloneable
                           :point "b7fb2280748a221e2052ad5d02baa617c4b74a89" ;; anything you can pass to checkout, including HEAD
                           :on-classpath ["src"]}]
 :dev-dependencies [[org.clojure/tools.trace "0.7.8"]
                    [org.clojure/tools.namespace "0.2.4"]
                    [org.clojure/test.check "0.5.8"]
                    [ohpauleez/cmma "0.1.0-SNAPSHOT"]]

 ;; Maven repositories must be specified
 :repositories {"central" {:url "https://repo1.maven.org/maven2/"
                           :snapshots false}
                "clojars" {:url "https://clojars.org/repo/"}
                "sonatype-experimental" {:url "https://oss.sonatype.org/content/groups/public/"}}
 :deps-settings {} ;; This is anything that can be passed to pomegranate's `resolve-dependencies`

 :source-paths ["src"]
 :resource-paths ["resources"]
 :test-paths ["test"]
 :nrepl-options {:bind "127.0.0.1"
                :reply false}}

