{:app {:project ohpauleez/cmma
       :version "0.1.0-SNAPSHOT"
       :description "Clojure + Make Managed Applications"
       :url "https://github.com/ohpauleez/cmma"
       :license {:name "Eclipse Public License"
                 :url "http://www.eclipse.org/legal/epl-v10.html"}}
 :dependencies [[org.clojure/clojure "1.8.0"]
                 [org.clojure/tools.nrepl "0.2.10" :exclusions [[org.clojure/clojure]]]
                 [reply "0.3.7" :exclusions [[ring/ring-core]]]
                 [com.cemerick/pomegranate "0.3.0" :exclusions [[org.apache.httpcomponents/httpclient]
                                                                [org.codehaus.plexus/plexus-utils]
                                                                [commons-codec]]]
                 [pedantic "0.2.0"]
                 [org.eclipse.jgit/org.eclipse.jgit.java7 "3.4.1.201406201815-r"]

                 ;; Patch up deps
                 [org.apache.httpcomponents/httpclient "4.1.3"]
                 [org.codehaus.plexus/plexus-utils "3.0"]
                 [commons-codec "1.5"]]
 :dev-dependencies [[org.clojure/tools.trace "0.7.8"]
                    [org.clojure/tools.namespace "0.2.11"]
                    [org.clojure/test.check "0.8.0-alpha3"]]
 :repositories {"central" {:url "https://repo1.maven.org/maven2/"
                           :snapshots false}
                "clojars" {:url "https://clojars.org/repo/"}
                "sonatype-experimental" {:url "https://oss.sonatype.org/content/groups/public/"}}
 :deps-settings {} ;; This is anything that can be passed to pomegranate's `resolve-dependencies`

 :source-paths ["src"]
 :resource-paths ["resources"]
 :test-paths ["test"]
 ;; Optional: Any external tooling that needs to be configured along dep resolution
 :external {:nrepl-options {:bind "127.0.0.1"
                            :reply true}}}

